@import url('global.css');
@import url('reset.css');

nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
}

nav .logo{
    color: #FFF; 
    font-family: Teko;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.64px;
}

nav .menu{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    gap: 1.5rem;
    color: #FFF2E780;
    transition: .5s;
}

nav .menu a{
    transition: .5s;    
}

nav .menu a:hover{
    color: #FFF2E7;
}

nav .github{
color: #FFF2E7;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
}

/* Estilo do main */

main {
    display: flex;
    flex-direction: column;
}

main .principal{
    background: #181012;
}

main .hero{
   
    
    max-width: 1120px;
    height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    padding: 0rem 2rem;
    margin: auto;

    overflow: clip;
}

main .hero-conteudo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

main .principal h1{
font-family: Montserrat;
font-size: 3.5rem;
font-style: normal;
font-weight: 800;
line-height: 120%; /* 67.2px */
}


main .principal hr{
    border-color: #A45A49;
    width: 50%;
}

main .principal .hero-subtitulo{
color: #C7BAB3;
font-family: Inter;
font-size: 1.5rem;
font-weight: 400;

}

main .principal .hero-imagens-container{
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}


main .principal .hero-imagens-container > figure > img{
    width: 100%;
    border: 0.5rem;
}


/* Estino do botão */

.botao-container{
    width: 100%;
    max-width: 1120px;
    
    margin: auto;
    transform: translate("0 -50%");
}

button{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #A45A49;
    cursor: pointer;
}

/* Estino receitas */

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
} 

.receitas .receitas-cabecalho{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas .receitas-titulo{
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
}


.receitas .receitas-sub-titulo{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

/* Estino das cards receitas */

.receitas-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem; 
    /* padding: 0rem 10rem; */
}

.receitas .receitas-card{
    background: #241a1c;
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;

    margin-top: 1rem;

}

.receitas .receitas-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.receitas .receitas-card-cabecalho-detalhes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas .receita-titulo{
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}

.receitas .receitas-avaliacao{
    color: #756A67;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

.receitas .receitas-discricao{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}    

.receitas .receita-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receitas .receita-autor > img{
    border-radius: 20rem;
    width: 2rem;
}

.receitas .receita-autor-nome{
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}

/* footer */

footer{
    display: flex;
    padding: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    background: #23181A;
}

footer .footer-copy{
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}

footer .footer-autor{
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
